.ChallengeDashboard {
    display: flex;
    flex-direction: column;
    padding: 30px 15px 10px;
    width: 1000px;
    border-radius: 10px;
}

.Top {
    display: flex;
    justify-content: space-between;
}

.FilterAndSort {
    display: flex;
    gap: 1rem;
}

.Select {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.ChallengeList {
    display: flex; 
    flex-direction: column; 
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; 
    gap : 0.5rem; 
}
