.ChallengeDashboard {
    display: flex;
    flex-direction: column;
    padding: 30px 15px 10px;
    width: calc(100vw / 13*8.5);
    border-radius: 10px;

    // background-image: linear-gradient(to bottom right,#F6D365, var(--PrimaryMain));
    z-index: 0;
}

.Top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.FilterAndSort {
    display: flex;
    gap: 1rem;
}

.Select {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.ChallengeList {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.CreateChallengeButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
