.ChallengeCard {
    padding: 10px 17px;
    gap: 124px;

    /* width: 1013px; */
    height: 154px;

    border-radius: 8px;
/* 
    transition: 0.2s;
    transition-timing-function:ease-out; */
}

/* .ChallengeCard:hover {
    transform: scaleX(1.01) scaleY(1.02);
} */

.BottomHalf {
    /* display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 9px; */

    width: 100%;
    height: 95px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.Top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    height: 56px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.Bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 10px;

    height: 30px;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.Left {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 27px;

    /* width: 491px; */
    height: 27px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.ChallengeName {
    color: var(--White);
}

.Left2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 713px;
    height: 19px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.Description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    color: var(--TextDimmedMain);
}

.Type {
    color: var(--White);
}

.Right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 122px;
    height: 30px;
}

.Join {
    color: var(--SuccessLight);
}

.numParticipants {

    color: var(--White);
}

.Icon {
    width: 25px;
    height: 25px;
    color: var(--White);
}

.Img {
    z-index: -1;
    opacity: 0.8;
    transition: 0.2s ease-in;
    filter: brightness(47.5%)
}