.TaskDashboard {
    padding: 30px 15px 10px;
    width: calc(100vw / 13*3);

    height: 100%;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
}

.TaskList {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
}
