.stars-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 1px;

    position: relative;
    top: -4px;

    width: 100%;
    height: 16px;

    /* Inside auto layout */
    flex: 0 0 auto;

    .star {
        color: var(--PrimaryMain);
    }
}
