.InventoryItem {
    width: 120px;
    height: 120px;
    border-radius: 8px;
    color: white;

    transition: ease-out 0.15s;

    .Img {
        z-index: -1;
        filter: brightness(75%);
    }


    &:hover {
        transform: scaleX(1.03) scaleY(1.03);
        box-shadow: 0px 0px 15px var(--PrimaryMain);
        color: var(--PrimaryMain);
    
        .Img {
            z-index: -1;
            filter: brightness(100%);
        }
    }
}