.NavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    gap: 9px;

    position: relative;
    height: 84px;

    /* Website Primary Color */

    background: #FA9C1D;
    /* Simple Drop Shadow */

    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
}

.Left {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 14px;

    /* width: 675px; */
    height: 48px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.Brand {
    padding: 0px 9px;
    gap: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;

    /* width: 160px; */
    height: 48px;
}

.NavMenu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 343px 0px 15px;
    gap: 36px;

    /* width: 501px; */
    height: 24px;

    box-shadow: none;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.NavElement {
    /* width: 58px; */
    height: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-decoration-line: none;

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}



.Right {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 25px;

    /* width: 279px; */
    height: 41px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}