.cr_Body {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 30px 64px; */
    /* width: 1254px;
    height: 767px; */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.cr_Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
    margin: auto;
    /* gap: 10px; */
    width: 1200px;
    /* height: 961px; */
    /* White */
    background: #ffffff;
    /* Drop Shadow/Container */
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.cr_Challenges {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: flex-start;
    padding: 0px 0px 10px;
    /* gap: 5px; */
    width: 100%;
    height: max-content;
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.cr_Frame4 {
    /* Frame 4 */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 10px 20px 20px;
    gap: 10px;
    width: 406px;
    height: 50px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.cr_line {
    /* Line 1 */
    width: full;
    height: 0px;
    border-bottom: 3px solid #fa9c1d;
    /* Inside auto layout */
    flex: none;
    /* order: 1; */
    align-self: stretch;
    flex-grow: 0;
}

.cr_InfoFrame {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 10px 0px;
    gap: 20px;
    width: 800px;
    height: 100%;
    /* Inside auto layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.cr_rewardbox {
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 15px;
    gap: 5px;
    width: 1272px;
    height: 271px;
    /* TextInputColor */
    background: #ffffff;
    border: 1px solid #fa9c1d;
    border-radius: 15px;
    /* Inside auto layout */
    flex: none;
    order: 13;
    align-self: stretch;
    flex-grow: 0;
}

.cr_Date {
    /* Date */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    /* gap: 10px; */
    width: full;
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.cr_DateInside {
    /* StartDate */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 3px;
    width: full;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;
}

.cr_NewBody {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 5px;
    width: 100%;
    /* Inside auto layout */
    flex: none;
    /* order: 2; */
    align-self: stretch;
    flex-grow: 0;
}

.cr_NewBody2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 5px;
    width: 100%;
    /* Inside auto layout */
    flex: none;
    /* order: 2; */
    align-self: stretch;
    flex-grow: 0;
}

.cr_MenuTab {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 10px 0px;
    gap: 10px;
    width: 300px;
    height: 100%;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.cr_Box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    place-content: center;
    padding: 10px 15px;
    gap: 5px;
    width: 280px;
    height: 37px;
    /* TextInputColor */
    background: #ffffff;
    /* Primary/Main */
    /* border: 1px solid #FA9C1D; */
    border-radius: 8px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    cursor: pointer;
}

.cr_Box:hover {
    background-color: #ffddae;
}

.cr_Box:focus {
    background-color: #ffddae;
}

.cr_ActivePartcipant {
    width: 909px;
    height: 17px;
    /* S1/Medium */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    /* Text Dimmed/Main */
    color: #8e8e8e;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.cr_TableHead {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    width: 879px;
    height: 37px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    background-color: #999999;
}

.cr_TableHeadText {
    width: 91px;
    height: 17px;
    /* S1/Medium */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    text-align: center;
    /* Black */
    color: #000000;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.cr_TalbeCss {
    /* Frame 41 */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 909px;
    height: 269px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.cr_SuccessText {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: var(--SuccessDark);
}

.cr_HeadText {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: var(--TextDimmedMain);
}

.cr_fileText {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: var(--Black);
}

.cr_star {
    color: var(--ErrorMain);
}

.cr_CounterBox {
    /* Frame 39 */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 909px;
    height: 17px;
    /* Inside auto layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.cr_Buttonsession {
    /* btn */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 20px;
    /* margin-right: 20px; */
    gap: 10px;
    width: 96%;
    background: #ffffff;
    /* Inside auto layout */
    flex: none;
    /* order: 3; */
    align-self: stretch;
    flex-grow: 0;
}
