.main-container {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 100vw;
}

.banner-container {
    overflow: hidden;
    display: block;

    height: 223px;

    .banner {
        opacity: 70%;

        width: 100%;
        height: auto;
    }
    align-self: stretch;
}

.challengemenu-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0px 50px;

    width: calc(100% - 100px);

    align-self: stretch;

    div {
        margin-left: auto;
        margin-right: auto;

        width: min(100%, 1100px);
    }

    .title-container {
        /* Auto layout */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 12px 0px 0px;

        height: 103px;

        background: var(--White);

        /* Inside auto layout */
        flex-shrink: 1;
        align-self: stretch;
        justify-self: center;

        .title-left {
            /* Auto layout */
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: 10px 0px 0px 0px;
            margin-left: 0;

            width: fit-content;
            height: 91px;

            .title-text-container {
                /* Auto layout */
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 25px;

                // width: 775px;
                height: 44px;
            }

            .status-button {
                /* Auto layout */
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 0px 20px;
                gap: 10px;

                width: fit-content;
                height: 35px;

                /* Inside auto layout */
                flex: none;
                flex-grow: 0;
            }
        }

        .title-right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: 10px 0px 0px 0px;

            margin-right: 0;

            width: fit-content;
            height: 47px;

            .editchallenge-button {
                /* Auto layout */
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                padding: 10px 20px;

                width: fit-content;
                height: 47px;

                /* Inside auto layout */
                flex: none;
                flex-grow: 0;
            }
        }
    }

    .tabs-container {
        /* Auto layout */
        padding: 0px 0px;
        gap: 25px;

        height: 29px;

        background: var(--White);

        /* Inside auto layout */
        flex: none;
        align-self: stretch;
        flex-grow: 0;
    }
}
