.main-container {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 100vw;
}

.challengemenu-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0px 50px;

    align-self: stretch;

}

.banner-container {
    overflow: hidden;
    display: block;

    height: 223px;

    .banner {
        opacity: 70%;

        width: 100%;
        height: auto;
    }
    align-self: stretch;
}

.title-container {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 50px 0px;
    gap: 20px;

    // width: 1300px;
    height: 103px;

    background: var(--White);

    /* Inside auto layout */
    flex-shrink: 1;
    align-self: stretch;
    justify-self: center;

    .title-left {
        /* Auto layout */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 10px 0px;

        // width: fit-content;
        height: 91px;

        .title-text-container {
            /* Auto layout */
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 25px;

            // width: 775px;
            height: 44px;
        }
    }
}
