.NavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    gap: 9px;

    position: relative;
    height: 84px;

    /* Website Primary Color */

    background: var(--PrimaryMain);
    /* Simple Drop Shadow */

    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
}

.Left {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 14px;
}

.Brand {
    padding: 0px 9px;
    gap: 10px;
}

.NavMenu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 343px 0px 15px;
    gap: 36px;
}

.NavElement {
    text-decoration-line: none;
    color: var(--White);
}

.Right {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 25px;
}