.NavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    gap: 9px;

    /* position: relative; */
    height: 84px;

    background: var(--PrimaryMain);

    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
}

.Left {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 20px;
}

.Brand {
    padding: 0px 9px;
    color: var(--Black)
}

.NavElement {
    text-decoration-line: none;
    color: var(--White);
}

.Right {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 25px;
}