.NavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    gap: 9px;

    height: 84px;

    background: var(--PrimaryMain);
}

.Left {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 20px;
}

.Brand {
    padding: 0px 9px;
    color: var(--White);

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
}

.NavElement {
    text-decoration-line: none;
    color: var(--White);
}

.NavElementUnderline {
    /* text-decoration-line: none; */
    color: var(--White);
}

.Right {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
}